---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=77478&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "77478",
                       "short_name" : "77478",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Sugar Land",
                       "short_name" : "Sugar Land",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Fort Bend County",
                       "short_name" : "Fort Bend County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Texas",
                       "short_name" : "TX",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Sugar Land, TX 77478, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 29.6624829,
                          "lng" : -95.580468
                       },
                       "southwest" : {
                          "lat" : 29.580582,
                          "lng" : -95.64635100000001
                       }
                    },
                    "location" : {
                       "lat" : 29.6185208,
                       "lng" : -95.6090009
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 29.6624829,
                          "lng" : -95.580468
                       },
                       "southwest" : {
                          "lat" : 29.580582,
                          "lng" : -95.64635100000001
                       }
                    }
                 },
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 06 May 2014 00:42:58 GMT
[...]
